main {
    width: 1180px;
    margin: 150px auto 0 auto;
}

.section-header {
    width: 1120px;
    height: 100px;
    border-radius: 20px;
    background-color: #F6C9B1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #162351;
    font-weight: 600;
    font-family: Cormorant Garamond;
    font-size: 60px;
}

.topics-list {
    width: 1120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topics-message {
    width: 1120px;
    background-color: #FFCFB654;
    margin-top: 30px;
    text-align: center;
    color: #162351;
    font-size: 36px;
    font-family: Copse;
    font-weight: 400;
}

.clear-fix-top-80 {
    margin-top: 80px;
}

.clear-fix-top-120 {
    margin-top: 120px;
}

.book-clubs {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    gap: 10px;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.book-name {
    background-color: #FFCFB654;
    color: #162351;
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 48px;
    width: 491px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-members {
    background-color: #FFCFB654;
    width: 190px;
    height: 54px;
    font-family: Copse;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.book-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.book-image {
    margin-top: 10px;
    width: 190px;
    height: 297px;
    border-radius: 10px;
    border-color: none;
}

.book-text-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 257px;
    font-size: 24px;
    font-family: Copse;
    font-weight: 400;
    gap: 50px;
}

.book-text {
    margin-left: 25px;
}

.book-text-2 {
    margin-left: 25px;
}

.see-more-button {
    width: 491px;
    height: 86px;
    border-radius: 4px;
    background-color: white;
    border-color: #E55B14;
    color: #E55B14;
    border-style: solid;
    border-radius: 50px;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 500;
}

.join-club-button {
    margin-top: 10px;
    width: 491px;
    height: 86px;
    border-radius: 4px;
    background-color: #E55B14;
    border-color: #E55B14;
    color: white;
    border-style: solid;
    border-radius: 50px;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 500;
}

.button-clubs {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.more-clubs {
    width: 551px;
    height: 122px;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    border-color: #E55B14;
    color: #E55B14;
    background-color: white;
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 48px
}

.your-club {
    width: 551px;
    height: 122px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #E55B14;
    color: white;
    background-color: #E55B14;
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 48px;
}

/* UPCOMING EVENT SECTION */
.upcoming-events-all {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    gap: 10px;
    flex-wrap: wrap;
}

.upcoming-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 502px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.upcoming-event-image {
    width: 482px;
    height: 359px;
    border-radius: 30px;
}

.upcoming-event-name {
    font-family: Cormorant Garamond;
    font-size: 48px;
    font-weight: 600;
    color: #162351;
}

.upcoming-event-desc {
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 500;
    color: #162351;
}

.upcoming-event-date,
.upcoming-event-hour,
.upcoming-event-address {
    font-family: Copse;
    font-size: 24px;
    font-weight: 400;
    color: #162351;
    padding-top: 5px;
}

.upcoming-event-button {
    width: 482px;
    height: 86px;
    border-radius: 50px;
    color: white;
    background-color: #E55B14;
    border-width: 1px;
    border-color: #E55B14;
    border-style: solid;
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 48px;
    margin-top: 20px;
}

.pagination-bar {
    margin-top:100px;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 133px;
    height: 39px;
    color: #162351;
    font-family: Copse;
    font-weight: 400;
    font-size: 32px;
}